kgen.*
*.mojopkg
*.📦

# pixi environments
.pixi
*.egg-info
# magic environments
.magic
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so
.env

# Local working notes
TODO.local.md
